@page "/learnblazor/parentcomponent"

<h1>Parent Child Relation</h1>

<_ChildComponent Title="This title is passed as parameter from Parent Component">
    Render Fragment From Parent! WooHOO!
</_ChildComponent>

<_ChildComponent Title="This is second child component">
</_ChildComponent>